<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458959712987-l4te2i1obae2sd5cdse2vi30ou3t4pmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458959712987-l4te2i1obae2sd5cdse2vi30ou3t4pmo</string>
	<key>API_KEY</key>
	<string>AIzaSyCioZNV2-UmEyDyqpUGiUfS4tR5_n49Zbc</string>
	<key>GCM_SENDER_ID</key>
	<string>458959712987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oliver.NoteApp</string>
	<key>PROJECT_ID</key>
	<string>noteapp-2af08</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-2af08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458959712987:ios:64b4d36ca47972e4cb52fe</string>
</dict>
</plist>